registry=https://pkgs.dev.azure.com/hexagon-vch/Enablement-Team/_packaging/PrivateCommonPackages/npm/registry/
'//pkgs.dev.azure.com/hexagon-vch/Enablement-Team/_packaging/PrivateCommonPackages/npm/registry/:_authToken'="${AZURE_DEVOPS_VCH_TOKEN}"

always-auth=true
strict-ssl=false
engine-strict=true
